aws-requests-auth==0.4.1
boto3==1.7.28
botocore==1.10.28
certifi==2018.4.16
chardet==3.0.4
click==6.7
docutils==0.14
elasticsearch==6.2.0
elasticsearch-curator==5.5.4
idna==2.6
jmespath==0.9.3
python-dateutil==2.7.3
pyyaml>=4.2b1
requests>=2.20.0
requests-aws4auth==0.9
s3transfer==0.1.13
six==1.11.0
urllib3>=1.23
voluptuous==0.11.1
